[run]
branch = True
omit = *migrations*,
       *urls*,
       *test*,
       *admin*,
       ./manage.py,
       ./family-budget-backend/config/*,
       ./family-budget-backend/wsgi.py,
       *__init__*
