[run]
branch = True
omit = *migrations*,
       *urls*,
       *test*,
       *admin*,
       ./manage.py,
       ./family_budget_backend/config/*,
       ./family_budget_backend/wsgi.py,
       *__init__*
